body{margin:0px;
font-family:'Poppins', sans-serif!important;
font-size: 13px;}

/*@font-face {
  font-family:'Poppins-Regular';
  font-style: normal;
  font-weight: 200;
  src: local('Poppins-Bold'), url(Poppins-Bold.woff2) format('woff');
}
@font-face {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: 	00;
  src: local('Poppins-Regular'), url(Poppins-Regular.woff2) format('woff');
}*/

.slideBox.carousel{top: -68px;}
.slideBox .carousel-inner>.item>a>img, .slider .carousel-inner>.item>img{width: 100%;}
.slideBox .item{padding: 0;height: 500px;}
.slideBox .ban-pera h1{margin-top: 0;}
.slideBox .carousel-caption{top: 30%;}
.blue-Home.blue-bg{bottom: -5px;}
.slideBox .carousel-indicators{visibility:visible;}
.slideBox .btn.btn-read{margin-top: 15px;}


.ponting p{position: relative;padding-left:30px;margin:0 0 5px 0 !important }
.ponting p:before{margin:0;position: absolute;content: '';left: 0;top:4px;
    background:url('../img/iconList.png') no-repeat;height: 18px;width: 18px;}

.getAppBox{}
.getAppBox h3{text-transform: uppercase;font-weight: bold;}
.getAppBox img{margin-bottom: 10px;}

.createJobBox{padding:30px 0;background-color: #78d6bb;margin: 50px 0 30px 0; }
.createJobBox h2{font: bold 22px/26px 'Poppins';color: #fff;text-transform: uppercase;margin: 0 0 10px 0;}
.createJobBox h3{font: bold 16px/20px 'Poppins';color: #fff;margin: 0;}
.createJobBox a{font: bold 18px/20px 'Poppins';color: #78d6bb;text-transform: uppercase;
    
    background-color: #fff;
    border:1px solid #fff;
    padding: 10px 40px;
    border-radius:20px;
    letter-spacing: 0.3px;
}

.createJobBox.createEventBox{background-color: #f4a727;}
.createJobBox.createEventBox a{color: #f4a727;}

.createJobBox a:hover{text-decoration: none;background-color: transparent;color: #fff;border-color: #fff;}

.margin20{margin: 20px;}
.showCaseBox{display: table;position: relative;margin:30px 40px;}
.showCaseImg{display: table-cell;vertical-align: middle;width: 45%;position: relative;}
.showCaseImg img{text-align: center;display: block;margin: 0 auto;}
.showCaseText{display: table-cell;vertical-align: middle;width: 55%;padding:0 0 0 30px;position: relative; }
.showCaseText h3{text-transform: uppercase;color: #1f1f1f;font:bold 30px/40px 'Poppins';letter-spacing: 0.5px;margin:0 0 10px 0; }
.showCaseText p{color: #666666;font:20px/26px 'Poppins';margin:0 0 10px 0;}

.showCaseBox.odd .showCaseImg{left: 55%;}
.showCaseBox.odd .showCaseText{left:-45%;padding-left: 0; }
.showCaseBox.odd .showCaseText h3, .showCaseBox.odd .showCaseText p{text-align: right;}



.trialForm{padding: 25px 30px;}
.trialForm .form-group{margin:0 0 20px 0; position: relative;text-align: center;}
.trialForm .user:after{position: absolute;background: url('../img/name.png') top center no-repeat;height: 25px;width:23px; content: '';left: 10px;top: -7px;}
.trialForm .mail:after{position: absolute;background: url('../img/mail.png') top center no-repeat;height: 20px;width:29px; content: '';left: 10px;top: -4px;}
.trialForm .phone:after{position: absolute;background: url('../img/phone.png') top center no-repeat;height: 25px;width:25px; content: '';left: 10px;top: -7px;}
.trialForm .org:after{position: absolute;background: url('../img/org.png') top center no-repeat;height: 25px;width:22px; content: '';left: 10px;top: -7px;}
.trialForm .city:after{position: absolute;background: url('../img/city.png') top center no-repeat;height: 25px;width:25px; content: '';left: 10px;top: -7px;}
.trialForm .form-group:nth-child(6){margin:0 ;text-align: center;}
.trialForm .form-group span{color:#636363;font: 18px/30px 'Poppins';margin: 5px 0;display: block;}
.trialForm .form-control{color:#bbbbbb;font: 16px/26px 'Poppins';border-left: none;border-right: none;border-top: none;box-shadow: none;padding:0 0 15px 35px;}
.trialForm .btn{color:#03a9f4;font: 20px/22px 'Poppins';padding: 10px 35px;text-transform: capitalize;text-align: center;display: inline-block;
    border-color: #03a9f4;border-radius: 20px;background-color:transparent; 
    transition: 0.5s all linear;
    -webkit-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
}
.trialForm .btn:hover{background-color: #03a9f4;color: #fff;
    -webkit-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    transition: 0.5s all linear;
}
.trialForm aside{margin: 0 0 30px 0;}


.bg0{background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
    margin-bottom: 0px;
    border-radius: 0px;
    z-index: 2;   
    }
.margin15{margin: 15px;}
.margin-spc{margin:40px;}
.relative{position: relative;}
.affix {
    position: fixed;
    width: 100%;
    background-color: #000;
    top: 0px;
    z-index: 2;
    border-radius: 0px;
     -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=162, Color=#cccccc)";
    -moz-box-shadow: 1px 3px 3px #cccccc;
    -webkit-box-shadow: 1px 3px 3px #cccccc;
    box-shadow: 1px 3px 3px rgba(39, 39, 39, 0.1);
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=162, Color=#cccccc);

}
.affix .navbar-nav>li>a {
    padding-top: 27px;
    padding-bottom: 12px;
      transition: 0.5s all linear;
        -webkit-transition:0.5s all linear;
        -o-transition: 0.5s all linear;
        -moz-transition: 0.5s all linear;  
}
.affix img {
	    margin-top: 0px;
    width: 93%;
      transition: 0.5s all linear;
    -webkit-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
}

.full-banner{
	background-image:url('../img/top-banner-top.jpg');
	background-size: cover;
	height: 648px;
	background-position: center;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0 99%);
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0 99%);
        margin-top: -65px;
}

.blue-bg{
     background: #03a9f4 url(../img/ball-img.png);
    background-size: cover;
    height: 122px;
    -webkit-clip-path: polygon(100% 58%, 100% 36%, 0 98%);
    clip-path: polygon(100% 98%, 100% 14%, 0 98%);
    width: 61%;
    position: absolute;
    right: 0px;
    bottom: 68px;
    background-position: 0px 27px;
}

.ban-pera{
	text-align: center;
	color: #fff;
}
.ban-pera h1{
    margin-top: 150px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #000f0a00;
    border-bottom: 1px solid #ffff;
   /* padding: 28px 0px 13px 0px;*/
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #fff;
    background-color: transparent;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #03a9f4
}
.dropdown-menu > li > a{padding: 5px 20px;text-transform: capitalize;}

.btn.btn-read {
    color: #fff;
    background-color: #fff0;
    border-color: #fff;
    border-radius: 30px;
    padding: 9px 30px;
    outline: none;
}

.btn.btn-read:hover{
	outline: none;
}

.heading-center{
	text-align: center;
    margin-bottom: 46px;

}
.m0{
	margin-bottom:0px;}

.heading-center h3{
	text-transform: uppercase;
	color:#1f1f1f;
	letter-spacing:0.5px;
	font-weight:600;	
}
.heading-center p{
	color: #666666;
    font: 16px/18px 'Poppins';
    margin:0 0 30px 0; 
}

.box-app{
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=180, Color=#a7a7a7)";/*IE 8*/
-moz-box-shadow: 0px 1px 10px #a7a7a7;/*FF 3.5+*/
-webkit-box-shadow: 0px 1px 10px #a7a7a7;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0px 1px 10px #a7a7a7;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=180, Color=#a7a7a7); /*IE 5.5-7*/
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 9px;
    margin-top: 30px;
}

.circle-box{
    width: 25%;
    padding: 12px;
    border-radius: 47px;
    background-color: #eeeeee;
    text-align: center;
    margin: -40px auto;
}

.box-app h4{
	margin-top: 64px;
	color: #1f1f1f;
	font-weight: 600;
}
.box-app p{
	color:#666666;
}

.circle-box{
	width: 67px;
    height: 67px;
    position: relative;
    overflow: hidden;
}

.box-app:hover .circle-box{
	background-color: #03a9f4;
	-webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
} 

.box-app:hover .circle-box img {
	position: absolute;
	left: -42px;
}

.box-app:hover h4{
	color: #03a9f4;
}

.item{
	padding:3px;
}
.item a {
	text-decoration: none;
	color: #fff;
}
#slider-bg{
	background-image: url(../img/slider-bg.jpg);
    background-size: cover;
    height: 659px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0 99%);
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0 99%);
  }

	.testimonial-name {
		    margin: -17px auto 0;
		    display: table;
		    width: auto;
		    background: #3190E7;
		    padding: 9px 35px;
		    border-radius: 12px;
		    text-align: center;
		    color: #fff;
		    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
	}
		
	#customers-testimonials .item {
    /* text-align: center; */
    /* padding: 38px; */
    /* margin-bottom: 80px; */
    opacity: 1;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /*width: 73%;*/
    margin: 0px auto;
		}
		#customers-testimonials .owl-item.active.center .item {
		    opacity: 1;
		    -webkit-transform: scale3d(1.0, 1.0, 1);
		    transform: scale3d(1.0, 1.0, 1);
		}
		/*.owl-carousel .owl-item img {
		    transform-style: preserve-3d;
		    max-width: 90px;
    		margin: 0 auto 17px;
		}*/
		#customers-testimonials.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
		 #customers-testimonials.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
		    background: #28CB75;
		    transform: translate3d(0px, -50%, 0px) scale(0.7);
		}
		
		#customers-testimonials.owl-carousel.owl-theme .owl-dots .owl-dot span {
		    background: #C4C4CC;
		    display: block;
		    height: 20px;
		    margin: 0 2px 5px;
		    transform: translate3d(0px, -50%, 0px) scale(0.3);
		    transform-origin: 50% 50% 0;
		    transition: all 250ms ease-out 0s;
		    width: 20px;
	}
	
	.img-box{
	width: 100%;
	height: 162px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
	}
	
	.img-box img {width: 100%;}
		
	.white-b{
	background-color: #fff;
    padding: 12px;
    text-align: left;
    width: 100%;
    margin-top: -9px;
    border-radius: 0px 0px 10px 10px;
    
	}
	.read-c{
		color: #03a9f4;
		text-decoration: none;
	}
	.read-c a{
		color: #03a9f4;
		text-decoration: none;
	}
	.read-c .fa {
		margin-top:1px;
	}
	.white-heading{
	text-align: center;
	color: #fff;
	margin: 35px;
	}
	.white-heading h3{
	text-transform: uppercase;
	}
	.white-heading  p{
		color: #9e9c9c;
	}
	
	#customers-testimonials2 .item {
    /* text-align: center; */
     padding: 0px; 
    margin-bottom: 10px;
    opacity: 1;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /*width: 73%;*/

}
	#customers-testimonials2 .owl-item.active.center .item {
		    opacity: 1;
		    -webkit-transform: scale3d(1.0, 1.0, 1);
		    transform: scale3d(1.0, 1.0, 1);
		   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=16, Direction=90, Color=#aba9a9)";/*IE 8*/
-moz-box-shadow: 0px 0px 16px #aba9a9;/*FF 3.5+*/
-webkit-box-shadow: 0px 0px 16px #aba9a9;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0px 0px 16px #aba9a9;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=16, Direction=90, Color=#aba9a9); /*IE 5.5-7*/
border-radius: 0px 0px 10px 10px;
}

.margin20{
	margin:20px;
}
	
	.bg-event{
	background-image: url(../img/event-bg.jpg);
    background-size: cover;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
	-webkit-clip-path: polygon(0 33%, 100% 8%, 100% 100%, 0 100%);
    clip-path: polygon(0 33%, 100% 8%, 100% 100%, 0 100%);
    margin-bottom: 20px;
}
	.blue-bg-left{
    background: #03a9f4 url(../img/ball-img.png);
    background-size: cover;
    height: 122px;
    -webkit-clip-path: polygon(0 72%, 0% 100%, 100% 100%);
    clip-path: polygon(0 15%, 0% 100%, 100% 18%);
    width: 61%;
    position: absolute;
    left: 0px;
    bottom: -232px;
}
	#customers-testimonials3 .item {
    /* text-align: center; */
    padding: 0px;
    /* margin-bottom: 80px; */
    opacity: 1;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* width: 73%; */
    /* margin: 0px auto;*/
}
	#customers-testimonials3 .owl-item.active.center .item {
	opacity: 1;
	-webkit-transform: scale3d(1.0, 1.0, 1);		   
}
.w-h{
	text-align: center;
    margin-top: 175px;
}
.w-h h3{
	color: #fff;
	text-transform: uppercase;
}
.w-h p{
	color: #b3b3b3;
}
.phone-img img{
    position: absolute;
    right: 0px;
    bottom: -61px;
}
.getapp h3{
	color: #1f1f1f;
	font-weight: 600;
	text-transform: uppercase;
}	
.getapp p{
	font-size: 15px;
	margin-bottom: 20px;
}
.team-bg{
	background-image: url(../img/team-bg.jpg);
    background-size: cover;
    height: 643px;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0 99%);
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0 99%);
    color: #ffff;
    text-align: center;
}

.team-bg img {
	margin: 0px auto;
}
.socails ul{
	margin: 0px;
	padding: 0px;
	
}	
.socails ul li{
	list-style-type: none;
	margin: 8px;
	display: inline-block;
}

.socails ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 17px
}
	
.form-control01{
	display: block;
    width: 100%;
    height: 31px;
    padding: 6px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 0px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-bottom: 1px solid #666666;
}

input{
	outline: none;
}

 textarea{
	resize: none;
	height: auto;
	outline: none;
}

label{
	font-weight: normal;
	font-size:16px;
	margin-bottom: 0px;
}

.btn.btn-send{
	color: #03a9f4;
    background-color: #ffffff;
    border-color: #03a9f4;
    padding: 8px 28px;
    border-radius: 24px;
    letter-spacing: 0.5px;
}
.right-cont h3{
	text-transform: uppercase;
	color: #666666;
	margin-bottom: 20px;
}
.right-cont p{
	color: #666666;
	font-size:16px;
	margin-bottom:20px;	
}
.foot-bg{
    background:#000000;
    background-size: cover;
        height: 222px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 87%, 100% 8%, 100% 100%, 0 100%);
    clip-path: polygon(0 71%, 100% 8%, 100% 100%, 0 100%);
    text-align: center;
}
.foot-top{
background: #03a9f4 url(../img/ball-img.png);
    background-size: cover;
    height: 91px;
    -webkit-clip-path:  polygon(0 14%, 0% 92%, 100% 11%);
    clip-path: polygon(0 14%, 0% 92%, 100% 11%);
    width: 61%;
    position: absolute;
    left: 0px;
      bottom: -165px;
}
.logo-bottom{
	margin-top:108px;
}
.foot-bg ul{
	margin: 0px;
	padding: 0px;
}
.foot-bg ul li {
list-style-type: none;
    display: inline-block;
    margin: 3px;
    background-color: #26282b;
    border-radius: 37px;
    width: 35px;
    height: 35px;
    padding: 6px;
    text-align: center;
	
}
.foot-bg ul li a {
	text-decoration: none;
	color: #737980;
	font-size: 18px;
}

.foot-bg span {color: #fff;}
.m5{margin:5px;}

.border-client {
    cursor: pointer;
    opacity: 0.4;
    margin-bottom: 20px;
}
.border-client:hover {
    opacity: 100;
}
.border-client img{
	margin: 0px auto;
}
.play-icon{
    position: absolute;
    right: 169px;
    bottom: 114px;	
    cursor: pointer;
}
.socails ul li a:hover .fb .fa{ 
	color:#3B5998!important;
}
.socails ul li a:hover .twitter{
	color: #0084b4!important;
}
.socails ul li a:hover .google{
	color: #d34836!important;
	margin-top: 2px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.article-box p{
color: #666666;
}
.article-box img{
width:100%;
}
.article-box {
	margin-bottom: 20px;
}
.right-article img{
    width:100%;
}
.right-article {
	margin-bottom: 20px;
}

.article-bg{
	background-image: url('../img/article-bg.jpg');
    background-size: cover;
    height:414px;
    background-position: center;
    -webkit-clip-path:polygon(0 0, 100% 0, 100% 59%, 0 99%);
    clip-path:polygon(0 0, 100% 0, 100% 59%, 0 99%);
    margin-top: -64px;
}
.article-bg .ban-pera h1 {
    margin-top: 88px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}
.l-arrow{
	position: absolute;
    color: #fff;
    bottom: 200px;
}
.r-arrow{
	position: absolute;
    color: #fff;
    bottom: 200px;
    right: 0px;
}
.article-detail{
    width: 100%;
    height: 281px;
    overflow: hidden;
    padding: 10px;
}
.left-img-job{
	width:100%;
	height: 350px;
	overflow: hidden;
}
.left-img-job img{
	width:100%;
}
.right-list-job h4{
	color:#1f1f1f;
    font:bold 20px/30px 'Poppins'
}
.right-list-job p{
    color: #1f1f1f;    
    margin-bottom: 20px;
    font:bold 15px/18px 'Poppins';
    margin-top: 22px;
}
.right-list-job p span{
	color:#666666;
	font:15px/20px 'Poppins';
    margin: 0 0 0 10px;
}
.hover-boxs .read-c{text-align: center;}
.hover-boxs .read-c a{position: relative;}
.hover-boxs .read-c a:after{position: absolute;content: '';background: url(../img/arrow_more_blue.png) no-repeat;
    right:-28px;height: 10px;width: 20px; top: 5px; 
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
}
.hover-boxs:hover a:after{right:-35px;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;

}

.slide-job-list h4{
	color:#1f1f1f;
	font:bold 14px/19px 'Poppins';
}
.slide-job-list p{   
    font:bold 13px/15px 'Poppins';
    
}
.slide-job-list span{
	color:#666666;
	font-weight: normal;
    margin:0 0 0 5px; 
}
.slide-job-list{
	padding:10px;
	border:1px solid #eee;
	border-radius: 0px 0px 10px 10px;
	margin-top: -5px;
}
.pad15{
	padding:15px;
}
.job-box{
    width: 100%;
    height: 152px;
    overflow: hidden;
    border-radius: 4px;
}
.job-box img {
	width: 100%;
    transition: all 300ms;
    -o-transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
   
}
.hover-boxs:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=16, Direction=90, Color=#aba9a9)";
    -moz-box-shadow: 0px 0px 16px #aba9a9;
    -webkit-box-shadow: 0px 0px 16px #aba9a9;
    box-shadow: 0px 0px 16px #aba9a9;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=16, Direction=90, Color=#aba9a9);
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
}
.hover-boxs{
	margin-bottom: 30px
}
.hover-boxs:hover img{
    transform: scale(1.4)rotate(10deg);
    -o-transform: scale(1.4)rotate(10deg);
    -webkit-transform: scale(1.4)rotate(10deg);
    -moz-transform: scale(1.4)rotate(10deg);
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #818181;
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition:0.3s;
    -o-transition:0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.toggle-menu{
	font-size: 26px;
    cursor: pointer;
    color: #fff;
    float: left;
    margin-left: 8px;
        position: absolute;
    top: 18px;
}
.mob-logo{
	text-align:center;
}
.mob-logo img{
	margin: 0px auto;
}
.btn.btn-more{
    color: #fff;
    background-color: #03a9f4;
    border-color: #03a9f4;
    margin-top: 35px;
    outline:none; 
}
.btn.btn-more:hover{
	outline: none;
	background-color: #000000;
	border-color:#000000;
}
.about-text{
	color:#03a9f4;
	font-weight: 600;
	    letter-spacing: 0.5px;
}
.about-text a {
	text-decoration: none;
}
.about-content{
	padding: 15px;
}
.about-content h4{
	color: #1f1f1f;
    font:18px/28px 'Poppins';
}
.about-content p{
 color: #666666;
 font:14px/20px 'Poppins';
}

.about-bg {
    background-image: url(../img/about-bg.jpg);
    background-size: cover;
    height: 414px;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 59%, 0 99%);
    clip-path: polygon(0 0, 100% 0, 100% 59%, 0 99%);
    margin-top: -64px;
}
.about-bg .ban-pera h1 {
    margin-top: 83px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}
.joblist-bg{
	background-image: url(../img/joblist-bg.jpg);
    background-size: cover;
    height: 414px;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 59%, 0 99%);
    clip-path: polygon(0 0, 100% 0, 100% 59%, 0 99%);
    margin-top: -64px
}

.joblist-bg.tournamentBg{
    background-image: url(../img/tournament_bg.jpg);
    background-size: cover;
    height: 414px;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 59%, 0 99%);
    clip-path: polygon(0 0, 100% 0, 100% 59%, 0 99%);
    margin-top: -64px
}

.joblist-bg.eventBg{
    background-image: url(../img/event_bg.jpg);
    background-size: cover;
    height: 414px;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 59%, 0 99%);
    clip-path: polygon(0 0, 100% 0, 100% 59%, 0 99%);
    margin-top: -64px
}
.joblist-bg.landgEventBg{
    background-image: url(../img/landing-even-bgt.jpg);
    background-size: cover;
    height: 414px;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 59%, 0 99%);
    clip-path: polygon(0 0, 100% 0, 100% 59%, 0 99%);
    margin-top: -64px
}

.joblist-bg.landgJobBg{
    background-image: url(../img/landing-even-bgt.jpg);
    background-size: cover;
    height: 414px;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 59%, 0 99%);
    clip-path: polygon(0 0, 100% 0, 100% 59%, 0 99%);
    margin-top: -64px
}


.joblist-bg .ban-pera h1 {
    margin-top: 83px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}
.content{
	padding: 10px
}
.content p{
	color: #666666;	
}
.content h4{
	color: #1f1f1f;
	line-height: 25px;
}
.head-article h2{
	color: #1f1f1f;
}

.head-article p{
	color: #666666;
}
.about-bg{
	background-image: url(../img/about-bg.jpg);
    background-size: cover;
	padding: 20px
}
.socails-team ul{
	margin: 0px;
	padding: 0px;
}
.socails-team ul li {
    list-style-type: none;
    margin: 8px;
    display: inline-block;
}
.socails-team ul li a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
}
.socails-team ul li a:hover .google {
      color: #d34836!important;
    margin-top: 2px;
}
.socails-team ul li a:hover .fb {
   color: #3B5998!important;
}
.socails-team ul li a:hover .twitter {
       color: #0084b4!important;
}
.socails-team{
	margin-bottom:30px;
}
.map{
margin: 0px;
}
.pad20{
	padding: 22px;
}

